 <!DOCTYPE html>
    <html>
      <head>
        <link  href="css/main.css" media="all" rel="stylesheet">
        <title>Chunky Biscuit</title>
      </head>
      <body>
        <div class= 'header'>
          <div class= 'name'>Chunky Biscuit</div>
            <div class= 'nav'>
              <ul class= 'nav-links'>
                 <li><a href="/">Home</a></li>
                 <li><a href="/blog">Blog</a><li>
                 <li><a href="/contact">Contact</a></li>
              </ul>
            </div>
        </div>
        <div class= 'content'>
          <div class= 'container'>
            <div class= 'image'>
              <img src="http://placekitten.com/430/300" alt="cute kitten">
            </div>
            <div class= 'box'>
              <h1>Something about me</h1>
                <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> 
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum </p>
            </div>
          </div>
          <hr>
          <div class= 'container'>
            <div class= 'box'>
              <h1>More stuff about me</h1>
                <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> 
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum </p>
            </div>
          </div>
          <hr>
          <div class= 'container'>
            <div class= 'box'>
              <h1>Even more stuff about me</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p> 
            </div>
          </div>
          <hr>
        </div>
        <footer>
          <p>© 2013 Galina Yermicheva</p>
         </footer>
      </body>
    </html>