<!DOCTYPE html>
<html>
  <head>
    <link  href="/css/main.css" media="all" rel="stylesheet">
    <title>Galina Yermicheva</title>
  </head>

  <body>
    <div class= 'header'>
      <div class= 'name'>Galina Yermicheva
      </div>
      <div class= 'nav'>
         <ul class= 'nav-links'>
            <li><a href="/">Home</a></li>
            <li class= 'dropdown-link'>
              <a href="/blog">Blog</a>
              <ul class= 'dropdown'>
                <% @sorted_posts.each do  |post, meta_data| %>
                <li><a href= "/blog/<%= post %>"><%= post %></a></li>
                <% end %>
              </ul>
            </li>
            <li><a href="mailto:yermichevagalina@gmail.com">Contact</a></li>
         </ul>
       </div>
    </div>

    <div class= 'content'>
    <%= yield %>
    </div>

     <footer>
      <a href="https://github.com/gyermich"><img src="/GitHub.png" alt="link to github"></a>
      <a href="https://plus.google.com/u/0/108987084052643495487/about"><img src="/Google.png" alt="link to google plus"></a>
      <a href="https://twitter.com/gyermich"><img src="/Twitter.png" alt="link to twitter"></a>
     </footer>

  </body>
</html>