<!DOCTYPE html>
    <html>
      <head>
        <link  href="/css/main.css" media="all" rel="stylesheet">
        <title>Chunky Biscuit</title>
      </head>
      <body>
        <div class= 'header'>

          <div class= 'name'>Chunky Biscuit
          </div>
          <div class= 'nav'>
             <ul class= 'nav-links'>
                <li><a href="/">Home</a></li>
                <li><a href="/blog">Blog</a><li>
                <li><a href="/contact">Contact</a></li>
             </ul>
           </div>
        </div>

        <div class= 'content'>
          <% @posts.each do  |post| %>
            <a href= "/blog/<%= post %>"><%= post %></a>
          <% end %>
          
        <%= yield %>
      </div>

         <footer>
          <p>© 2013 Galina Yermicheva</p>
         </footer>
      </body>
    </html>