date: 2013-12-01

<h1>Week 5: HTML, CSS, and Sinatra Again.</h1>

<p>
  HTML and CSS are the ABCs of the web development. These two languages are the very basic and are considered to be fairly simple to master. You just use HTML to structure your site and add CSS to make it look pretty! Simple, right? Well, that wasn’t exactly my experience.
</p>

<p>
  And it wasn’t even my first exposure to either HTML or CSS. At my previous job I worked with websites, the only difference between that previous experience and this week’s project is that all of my previous work involved modifying already existing pages and sites, never creating something from scratch! The closest I got to creating something myself was using Sharepoint web parts in “HTML editor” mode.  I never thought that building the simplest web page could be so challenging.
</p>

<p>
  I felt satisfied having my HTML code written and ready to be styled, which wasn’t too difficult, but as soon as I got my hands on CSS the real fun and adventure began! CSS got really capricious and didn’t quite do what I wanted it to do.  Well, as they say, a picture is worth a thousand words, so here you go:
</p>

<p>
  <img src="https://lh3.ggpht.com/-E6ukbgTm5iM/Um0CrEtzXSI/AAAAAAAAG_8/-UoNFePQTcA/s1600/css_is_awesome2.png" alt="CSS is awesome"/>
</p>

<p>
  (Also while looking for the visual representation of my feelings on CSS I came across this site: 
  <a href="http://csshumor.com">csshumor.com</a>
   A really useful source that helped me to conceptualize some CSS basics)
</p>

<blockquote>
  <p>
    .einstein:* { position: relative; }
  </p>
</blockquote>

<p>
  No, seriously, it really did help me to understand CSS better using real life examples:
</p>

<blockquote>
  <p>
    .selfie-angle { transform: rotateY(26deg); }
  </p>
</blockquote>

<p>
  Despite all my trials and tribulations, I finally got everything to work and align nicely.  I moved on to the next feature, added some code, refreshed the page...Bam! Everything was out of order! Yelling in my head “command-Z, command-Z” I returned back to the initial peaceful state of my page...and kept on trying.
</p>

<p>
  And I still am.
</p>

