date: 2013-11-10

<h1>Week 2: Magic, Seattle.rb and Impostor Syndrome</h2>

<p>
  In my application video I talked about how to me, coding was like a magic wand just like I’d always wanted as a child.  When I watched the video during editing, I wasn’t sure if that metaphor sounded too infantile.  I almost considered rethinking and re-recording my answer.  In the end, I decided if I left that part out, I wouldn’t be showing who I really am so I decided to give it a shot.  Looking back now, I’m really glad I did!  In fact, magic is sort of a theme in the classroom.  After some particularly challenging coding immersion, we were asking a lot of questions on how the “magic” of a particular procedure works.  Bookis said “Well, when you understand how the magic works, you’ll get a job.”  And now, it is common for the students and instructors to use the word “automagically” to describe certain program processes.  
</p>

<p>
  In our second week, we were introduced to our TAs who are volunteer mentors who come from different backgrounds with different experiences.  On Monday, I met Mel Q, one of the volunteer TA.  When I was introduced to her by a fellow student she said “I know you...I remember you from your application video.  So, have you found your magic wand yet?” I told her I am on my way. This little conversation gave me a feeling of being in the right place, surrounded by the like-minded people sharing the idea of programming being sorcery and the code being the spells.
</p>

<p>
On Tuesday of this past week, we went to the Seattle.rb social for our first field trip. Seattle.rb is a big community of developers collaborating, sharing experience and learning from each other. Although some of the talks were too advanced for me, I really enjoyed the lightning talks - short, 5 minute talks that share tips and tricks, interesting gems or just showing of projects.
</p>

<p>
  Some projects we learned about were really exciting, especially because they were a product of somewhat advanced beginners, who are just a few weeks ahead of us in the code-learning adventure. To be honest, seeing these projects put me into an emotionally challenging state: Am I ever going to be a good developer? Am I learning fast enough? I have been doing Ruby for 2 weeks now and I still feel I don’t know enough. I was surprised to find out that most of the class felt the same way.
</p>

<p>
  We were reminded by our instructors about impostor syndrome.
  From 
  <a href="http://geekfeminism.wikia.com/wiki/Impostor_syndrome" title="Impostor Syndrome">Geek Feminist Wiki</a>:
</p>

<blockquote>
  <p>
    Impostor syndrome describes a situation where someone feels like an impostor or fraud because they think that their accomplishments are nowhere near as good as those of the people around them. Usually, their accomplishments are just as good, and the person is applying an unfairly high standard to themself (and not to others). 
  </p>
</blockquote>

<p>
  Our instructors assured us that we are all doing great and making good progress.Sometimes it’s all you need to hear because it is really easy to forget about one’s accomplishments while trying to focus on what lies ahead. The best way to deal with that is breaking a big task into smaller ones and concentrating on one simple thing at a time. Even that little sense of accomplishment can be very inspiring!
</p>

