date: 2013-11-3

<h1>Week 1: The Beginning</h1>

<p>
  I can hardly believe how wonderful ADA Developers Academy is.  Five years ago I would never imagine I would be here.  Until two weeks ago I was a project administrator at a large tech company in Silicon Valley.  I got really excited when I was asked to be the content manager for a couple of internal websites.  Not only did I get to indulge my love for design, but I was inspired to begin to learn coding so I could accomplish what I wanted to with the sites.  I began to learn more coding on Codecademy and Code Avengers, two great interactive coding tutorial sites.  Ever since then I was hooked.  I love technology, and all it can offer us and coding seemed a wonderful way to harness and use the magic of technology.  I began looking for opportunities to learn coding more intensively.  All of the options I found were either too expensive, wouldn’t work for me with my work schedule, or both.  When I can across a blog post on Smartbear Blog mentioning ADA Developers Academy, I was overcome with excitement.  This program was my dream come true.  I had three days to apply, and I spent the whole weekend on the application:  A technical assignment, a logic puzzle, a personal video, learning Markdown language and trying to figure out GitHub.  It was overwhelming, but totally worth it because only two weeks later I had an interview and was accepted to ADA.
</p>

<p>
  This first week was probably the craziest and most exciting week I have had in a long time: meeting awesome people, learning amazing things, making discoveries and gaining tons of anticipation for the new future ahead.
</p>

<p>
  Unlike other classes I’ve taken in the past, I didn’t get bored once.  There was no need to look at the hands of my watch wishing they would spin faster. I tried to squeeze as much as possible out of each day. I love the class atmosphere.  It is very relaxed and there are no grades, but all the students are so motivated to learn, they go above and beyond all assignments and projects.It feels really good to be around people who want to learn.
</p>

<p>
  In the ADA campaign video Elise Worthy said that the best way to learn software development is to be immersed in it. Well, she really meant it! On the second day we were pair programming, creating our first Ruby on Rails application, and it felt like we were pushed into open water without knowing how to swim.  I felt like the tasks we were given, were far beyond our ability but just like being immersed in a foreign language we learned certain concepts very quickly, though we didn’t understand it all.  Even though we asked lots and lots of questions, there is still so much mysterious advanced sorcery left to be learned. The instructors were extremely helpful, patiently leading us to a successful finish celebrated with high-fives.
</p>

<p>
  Other than the information and techniques we learned, the most exciting part of the class was the people.  Both the instructors and my fellow Adies (ADA Ladies), as we like to call ourselves, are all very diverse.  Since we change partners each day I’ve come to notice that some are really enthusiastic, some are really chill and some are extraordinarily smart.  Everybody’s uniqueness comes together and contributes to the cohort as a whole, making us all that much better students, developers, and people.
</p>


