date: 2013-11-24

<h1>Week 4: Data: Big and Not So Big</h1>

<p>
  Another challenging week at Ada Developers Academy! Just when I started getting comfortable with the new concepts, we’re onto a lot of new stuff - our toolbox got upgraded with networking fundamentals, databases, SQL, SQLite3 and  Sinatra in just one week.
</p>

<p>
  We attended the forum “Big Insight—Making Sense of Big Data in Seattle” organized by Xconomy, and it  fell right into the theme of the week. Although some of the talks were over my head, I learned a lot of cool things, like network sensors, data engines and data driven artificial intelligence. It was amazing to see how data can be such a powerful tool and how it  impacts the real world: it answers complicated questions, finds common patterns and helps to understand and predict these patterns.A wide range of companies working with data was represented in the forum. They shared their perspectives on Seattle’s opportunities in big data technology. Inspired by all the powerful ideas we got back to our projects to learn more ways to manipulate data and learn how to let the machines answer questions about our databases. 
</p>

<p>
  This week we had two guest speakers: Sam Livingston-Gray and Trevor Bramble, who shared their perspective, experience, tips and tricks for a better understanding of databases and networking. Sam is a software developer, who traveled all the way from Oregon.  He was kind enough to teach us the basics of unit testing, test driven development and code refactoring. I put his tips to good use by turning 8 lines of code into one. Although I learned that I should be careful with refactoring and not only keep the code clean but also readable. 
</p>

<blockquote>
  <p>
    “You always write your code at least for two people: you and future you!”
  <br />
    <em>Kerri</em>
  </p>
</blockquote>

<p>
  Trevor is a serious Rubyist and a Sinatra pro and contributor.  He introduced us to networking, SQlite3, databases fundamentals and the alphabet soup:
</p>

<blockquote>
  <p>
    ALPHABET SOUP:
    <br />
    SSL UTF HTTP W3C UA HTML RFC MIME SQL JSON TCP/IP ORM XHR CSS API LSD IETF XML DOM DNS URL REST XSS
  </p>
</blockquote>

<p>
  He also introduced us to Rubocop - the guy who’ll keep an eye on the code and will make sure it corresponds with the standards.
</p>

<p id= "rubocop">
  <img src="https://github.com/Ada-Developers-Academy/daily-curriculum/raw/master/week4/thursday/robocop.jpg" alt="Robocop on a unicrorn" title="" />
</p>

<p>
  Rubocop lives 
  <a href="https://github.com/bbatsov/rubocop/" title="GitHub">here</a>.
</p>

<blockquote>
  <p>
    <strong>RuboCop</strong> is a Ruby static code analyzer. Out of the box it will enforce many of the guidelines outlined in the community Ruby Style Guide.
  </p>
</blockquote>

<p>
  Thank you Sam and Trevor!
</p>

